.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(21, 99, 177, 0.1), #06121e),
    url(../assets/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.hero {
  color: $white-normal;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;

  h1 {
    text-align: center;
    line-height: 200%;
    max-width: 940px;
    font-size: 43px;
  }

  p {
    text-align: center;
    margin: 14px 0;
  }
}

.button-contact {
  padding: 14px 28px;
  color: $white-normal;
  background-color: $red-normal;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
    h1 {
      font-size: 33px;
      padding: 0px 14px;
      width: 100%;
    }
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 27px;
  }
}

// About

.about {
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-normal;
}

.about-content div {
  flex: 1;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img {
    max-width: 570px;
  }
}

.about-description {
  h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 14px;
    line-height: 150%;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    margin: 2px 30px;
  }
}

// SERVICES

.services {
  background-color: $white-normal;
  color: $black-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;

  h2 {
    font-family: "sora";
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.services-content {
  h2 {
    text-align: center;
    color: $black-dark;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  p {
    text-align: center;
    color: $black-dark;
    max-width: 836px;
    line-height: 150%;
    margin-bottom: 50px;
  }
}
.haircuts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
  overflow: hidden;

  img {
    width: 100%;
    max-width: 554px;
    transition: transform 0.8s;
  }
}
.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 2;

  button {
    font-weight: bold;
    color: $white-normal;
    background-color: $red-normal;
    border: $red-normal;
    border-radius: 5px;
    padding: 12px 22px;
    cursor: default;
  }
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
}
// FOOTER .....

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $primary-normal;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 70px ;
  color: $white-normal;
}

.footer-icons{
  display: flex;
  gap: 22px;
  color: $white-normal;
}

@media screen and (max-width:768px) {
  .footer{
    strong{
      text-align: center;
      font-size: 14px;
      max-width: 300px;
    }
  }

  
}