.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}

.bg-home{
  position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom , rgba(6,18,30,0.1), #06121e), url(../assets/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9 ;
}

.hero{
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
      text-align: center;
      line-height: 200%;
      max-width: 940px;
      font-size: 43px;
    }
    
    p{
      text-align: center;
      margin: 14px 0;
    }
}

.button-contact{
  padding: 14px 28px;
  color: $white-normal;
  background-color: $red-normal;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover{
  animation:  scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.10);
  }
}

@media screen and (max-width: 768px ){
  .hero {
    min-height: 60vh;
    h1{
      font-size: 33px;
      padding: 0px 14px;
      width: 100%;
    }
    p{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px){
  .hero h1{
    font-size: 27px;
  }
  
}

// About

.about{
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-normal;
}

.about-content div{
  flex: 1;
}

.about-content{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img{
   max-width: 570px;
  }
}

.about-description{
  h2{
    font-size: 38px;
    margin-bottom: 24px;
  }

  p{
    margin-bottom: 14px;
    line-height: 150%;
    text-align: left;
  }
}

@media screen and (max-width:768px){
  .about-content{
    flex-direction: column;
    margin: 2px 30px;
  }

  
}



